/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tenor Sans', sans-serif;
  padding: 0;
  margin-top: 75px;
  background-color: cornsilk;
}

.backtotop {
position: fixed;
bottom: 2px;
right: 8px;
opacity: 0.9;
}

.backtotop a {
text-decoration: none; 
font-size: 3cm;
color: rgba(172, 157, 84, 0.89);
}

.backtotop a:hover {
color: rgb(182, 169, 129); 
}

  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(172, 157, 84, 0.89);
  }

  input[type="checkbox"] {
    display: none;
  }

  .hamburger {
  display: none;
  font-size: 2rem;
  color: cornsilk;
  margin-right: 1em;
  }

  html {
  scroll-padding-top: 70px;
  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  nav ul li {
    flex: 0 0 8rem; /*the same as flex-grow, flex-shrink, flex-basis */
    text-align: center;
  }
  .home {margin-right: auto;}
  nav ul li a {
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    color: cornsilk;
  }
  
  nav ul li:hover {
    background-color: rgb(182, 169, 129);
  }

  nav ul li a:hover {
    color: cornsilk;
  }

  li ul {
    display: none;
    position: absolute;
    background-color:rgb(206, 187, 124);
  }

  li ul li a {
  padding: 0.3rem 1.5rem;
  }

  nav ul li:hover ul {
  display: flex;
  flex-direction: column;
  }

  nav ul li ul li {
  flex: 0 0 auto;
  width: 8rem;
  }

  @media screen and (max-width: 700px) {
    nav ul {
      display: none;
      flex-direction: column;
      clear: right;
    }

    .hamburger {
      display: block;
      float: right;
      cursor: pointer;
    }
    #toggle:checked ~ #menu {
      display:block !important;
    }
    nav ul li {
      flex: 0 0 auto;
      width: 100%;
    }
    li ul {position: static;}
  }
.dramatis, .play {
  font-size: medium;
  padding: 2em;
  /* background-color: rgb(218, 200, 169); */
  width: 70%;
  margin: 1em auto;
  }
  .dramatis {
    background-color: rgb(156, 142, 124);
    font-size: small;
  }
  .play {
margin: 1em auto;
background:rgb(216, 201, 152);
  }

  h1.act {
font-size:200%;
font-weight: bold;
text-decoration: underline;
  }

  h2.firstscene {
    font-size: 150%;
    text-decoration: underline;
  }

  h2.scene {
    font-size: 150%;
    text-decoration: underline;

  }

  h1.dramatishead { font-size: 25px;
    font-weight: bolder;
    text-align: center;
  }
  
  h2.charactername { font-weight: lighter;
    font-size: medium;
    padding: 5px;
  }

  h3.play_location {
  text-align: center;
  font-size: medium;
  font-style: italic;
  padding: 20px;

  }
  
  figure { 
    width: 85%;
    margin: 10px auto;
  }
  
  img{ 
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 1em;
  }


p.character { font-weight: bold;
}

h2.location { font-style: italic;
  margin: 1.5em;
  font-size: large;
}

h2.stagedirection { 
  font-style: italic;
  margin: 1.5em; 
  font-weight: lighter;
  font-size: medium;
}
p.verseline {
  margin: 0 0 0.4em 8em;
}

p.prose {
 margin: 0 0 0.4em 8em;
 line-height: 150%;
}

audio {
  width: 100%;
  margin: 0; 
  padding: 10px;
   }

@media screen and (max-width: 800px) {
  html {
  font-size: 12px;
  }


    .play, .dramatis {
      width: 100%;
      padding: 1em 3em;
    }
  }
