* {
box-sizing: border-box;
margin: 0;
 }


body{
font-family: 'Tenor Sans', sans-serif;
background-color: rgb(64, 192, 186);
}

main {
background-color: transparent;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
width: 70%;
margin: 0 auto;
}

h1 { text-align: center;
/* margin: 0 0 auto; */
margin-top: 20px;
font-family: 'Tenor Sans', sans-serif;
}


figure {
flex-basis: 300px;
flex-grow: 0;
margin: 20px;
}

ul {
margin-top: 20px;
font-weight:700;
list-style: none;
text-align: left;
}

img{
width: 100%;
margin: auto;
 }

 .info {
padding: 1em;
flex-basis: 300px;
flex-grow: 0;
margin: 1em;
}


footer {
text-align: center;
margin-bottom: 20px;
font-size: small;
}


p {
margin-top: 1em;
font-size: medium;
 }


 p.playlink { text-align: center;
    margin: 20px;
    font-weight: bolder;
}

.playlink a {
text-decoration: none;
color: rgb(247, 224, 213);
}

.playlink:hover {
background-color: rgb(72, 105, 99);
}